
body{
    margin: 0;
}
/* 1й экран */
.okno1{
    width: 100%;
    height: 849px;
    
}
.okno1_div1{
width: 100%;
height: 10.9540636042%;
background-color: rgba(54, 51, 72, 1);
display: flex;
align-items: center;
position: sticky;
}
.okno_div2{
    width: 16.1979166667%;
    height: 60.752688172%;
    display: flex;
    align-items: center;
    right: 12.7083%;
    padding-left: 10%;
}
.okno1_img1{
    max-width: 50%;
    max-height: 100%;
    display: flex;
    align-items: center;
}
.okno1_span1{
    color: white;
    width: 20.2733118971%;
    height: 38.8547008547%;
    font-size: 1em;
    margin-left: 3px;
    display: flex;
    align-items: center;
}
.okno1_div3 {
    border-left: 1px solid rgba(216, 216, 216, 1);
    height: 100%;
    margin-left: 25.5px;
}
.okno1_p1{
    color: white;
    font-size: 70%;
    height: 60.752688172%;
    white-space: nowrap;
    margin-left: 20%;
    display: flex;
    align-items: center;
}
.okno1_p2{
    height: 20.05%;
    width: 30%;
    margin-left: 150px;
    white-space: nowrap;
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;
}

.okno1_a{
    color: white;
    font-size: 0.9em;
    margin-right: 5%;
    text-decoration: none;
    transition-property: all;
}
.okno1_a:hover{
    color: rgb(0, 255, 21);
    font-size: 1.1em;
}
.okno1_a:active{
    color: yellow;
} 
.okno1_tel1{
    margin-left: 200px;
    white-space: nowrap;
    color: white;
    transition-property: all;
}
.okno1_tel1:hover{
    color: rgb(255, 0, 0);
    font-size: 1.6em;
}
@media (max-width: 1017px) {
    .okno1_tel1 { margin-left: 40px;
    }
}
@media (max-width: 728px) {
    .okno1_tel1 { display: none;
    }
}
@media (max-width: 1164px) {
    #contakts { display: none;
    }
}
.okno1_div4{
    width: 100%;
    height: 100%;
}
.okno1_div5{
    background-image: url(./IMG/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 96%;
    height: 683px;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.okno1_div6{
    white-space: nowrap;
    font-size: 2em;
}
@media (max-width: 518px) {
    .okno1_div6 { font-size: 0.7em;
    }
}

.okno1_p3{
    display: flex;
    justify-content: center;
}
.okno1_span2{
    color: rgba(229, 176, 147, 1);  
}
.okno1_span3{
    color: white;
    padding-left: 2% ;
}
.okno1_p4{
    color: white;
    font-size: 1em;
    transition-property: all;
}
@media (max-width: 518px) {
    .okno1_p4 { display: none;
    }
}
.strelka{
    size: 2100px;
    display: flex;
    margin-left: 50%;
    margin-top: 20%;
    transition-property: all;
}
/* 2й экран */
.okno2{
    width: 100%;
    height: 1000px;
}
.okno2_h1{
    text-align: center;
    margin-top: 5%;
}
.okno2_s1{
    text-align: center;
    height: 150px;
    font-size: 2em;
}
.okno2_s2{
    text-align: center;
    height: 20%;
    width: 20%;
    font-size: 1em;
    font-style: black;
    font-weight: bold;
    line-height: 1.5em
}
.okno2_footer{
    width: 100%;
    height: 508px;
    position: relative;
    margin-top: 10%;
    display: flex;
}
.okno2_div1{
    width: 60%;
    height: 100%;
    display: inline-block;
    display: grid;
    grid-template-columns: repeat(10,10%);
    grid-template-rows: repeat(10,10%);
}
@media (max-width: 966px){
    .okno2_div1{
        display: none;
    }
}
    

.okno2_i1{
    z-index: 1;
    grid-column: 2/4;
    grid-row: 1/3;
    height: 400%;
   width: 300%;
}

.okno2_i2{
    z-index: 2;
    position: relative;
    height: 300%;
    width: 300%;
    display: inline-block;
    grid-row: 5/7;
    grid-column: 4/6;
}
.okno2_div2{
    display: inline-block;
    width: 40%;
    margin-left: 10%;
}
@media (max-width: 966px){
    .okno2_div2{
        width: 100%;
        text-align: center;
    }
}
  
.okno2_p1{
    font-weight: bolder;
    font-size: 1.5em;
    line-height: 1.2em
}
.okno2_p2{
font-weight: bold;
line-height: 1.5em
}
.okno2_bat{
    background-image: linear-gradient(to bottom right, #EBBE9C, #C88C61);
    height: 15%;
    width: 50%;
    border-radius: 10%;
    border: none;
    box-shadow:0 0 50px #C88C61;
    position: sticky;
    top: 0;
    color: white;
    font-size: 1.2em;
}
@media (max-width: 966px){
    .okno2_bat{
        width: 30%;}
    }
.okno2_a{
    color: white;
    text-decoration: none;
}

  /* 3й экран */
  .okno3{
      width: 100%;
      height: 850px;
    }
    .okno3_top, .okno3_niz{
        background-color: #363348;
        color: white;
        
    }
    .okno3_top{
        margin-top: 5%;
    }
    .okno3_d1{
        width: 100%;
        background-image: url(/IMG/photo3.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 80%;
        background-attachment:fixed;
        text-align: center;
    }
    .okno3_h1{
        color: rgb(30, 255, 0);  
        text-align: center;
        animation-name: okno3_h1;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: reverse;
    }
    @keyframes okno3_h1{

        50% {color: rgb(255, 0, 0)}
    }

    .okno3_p1{
        color: white;
        font-size: 1.3em;
        background-color: rgba(0, 0, 0, 0.3);
        display: inline-block;
        text-align: center;
        font-weight: bold;
        line-height: 140%;
    }
    .okno3_p2{
        font-size: 2em;
        text-align: center;
    }