
body{
    margin: 0;
}
.okno1{
    width: 100%;
    height: 849px;
    
}
.okno1_div1{
width: 100%;
height: 10.9540636042%;
background-color: rgba(54, 51, 72, 1);
display: flex;
align-items: center;
position: sticky;
}
.okno_div2{
    width: 16.1979166667%;
    height: 60.752688172%;
    display: flex;
    align-items: center;
    right: 12.7083%;
    padding-left: 10%;
}
.okno1_img1{
    max-width: 50%;
    max-height: 100%;
    display: flex;
    align-items: center;
}
.okno1_span1{
    color: white;
    width: 20.2733118971%;
    height: 38.8547008547%;
    font-size: 1em;
    margin-left: 3px;
    display: flex;
    align-items: center;
}
.okno1_div3 {
    border-left: 1px solid rgba(216, 216, 216, 1);
    height: 100%;
    margin-left: 25.5px;
}
.okno1_p1{
    color: white;
    font-size: 70%;
    height: 60.752688172%;
    white-space: nowrap;
    margin-left: 20%;
    display: flex;
    align-items: center;
}
.okno1_p2{
    height: 20.05%;
    width: 30%;
    margin-left: 150px;
    white-space: nowrap;
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;
}

.okno1_a{
    color: white;
    font-size: 0.9em;
    margin-right: 5%;
    text-decoration: none;
    transition-property: all;
}
.okno1_a:hover{
    color: rgb(0, 255, 21);
    font-size: 1.1em;
}
.okno1_a:active{
    color: yellow;
} 
.okno1_tel1{
    margin-left: 200px;
    white-space: nowrap;
    color: white;
    transition-property: all;
}
.okno1_tel1:hover{
    color: rgb(255, 0, 0);
    font-size: 1.6em;
}
@media (max-width: 1017px) {
    .okno1_tel1 { margin-left: 40px;
    }
}
@media (max-width: 728px) {
    .okno1_tel1 { display: none;
    }
}
@media (max-width: 1164px) {
    #contakts { display: none;
    }
}
.okno1_div4{
    width: 100%;
    height: 100%;
}
.okno1_div5{
    background-image: url(./IMG/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 96%;
    height: 100%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.okno1_div6{
    white-space: nowrap;
    font-size: 2em;
}

.okno1_p3{
    display: flex;
    justify-content: center;
}
.okno1_span2{
    color: rgba(229, 176, 147, 1);  
}
.okno1_span3{
    color: white;
    padding-left: 2% ;
}
.okno1_p4{
    color: white;
    font-size: 1em;
    transition-property: all;
}
@media (max-width: 518px) {
    .okno1_p4 { font-size: 0.9em;
    }
}
.strelka{
    size: 2100px;
    display: flex;
    margin-left: 50%;
    margin-top: 20%;
    transition-property: all;
}

