
html{
    
    height: 7870px;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    background: linear-gradient(rgb(255, 217, 0), rgb(255, 0, 234)), no-repeat;
    
    height: 7870px;
    
    text-align: center;
    
}
/* 1й экран */
.okno1{
    width: 100%;
    height: 849px;
    
}
.okno1_div1{
width: 100%;
height: 10.9540636042%;
background-color: rgba(54, 51, 72, 1);
display: flex;
align-items: center;
position: sticky;
}
.okno_div2{
    width: 16.1979166667%;
    height: 60.752688172%;
    display: flex;
    align-items: center;
    right: 12.7083%;
    padding-left: 10%;
}
.okno1_img1{
    max-width: 50%;
    max-height: 100%;
    display: flex;
    align-items: center;
}
.okno1_span1{
    color: white;
    width: 20.2733118971%;
    height: 38.8547008547%;
    font-size: 1em;
    margin-left: 3px;
    display: flex;
    align-items: center;
}
.okno1_div3 {
    border-left: 1px solid rgba(216, 216, 216, 1);
    height: 100%;
    margin-left: 25.5px;
}
.okno1_p1{
    color: white;
    font-size: 70%;
    height: 60.752688172%;
    white-space: nowrap;
    margin-left: 20%;
    display: flex;
    align-items: center;
}
.okno1_p2{
    height: 20.05%;
    width: 30%;
    margin-left: 150px;
    white-space: nowrap;
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;
}

.okno1_a{
    color: white;
    font-size: 0.9em;
    margin-right: 5%;
    text-decoration: none;
    transition-property: all;
}
@media (max-width: 634px) {
    .okno1_a { font-size: 10px;
        text-align: right;
    }
}
@media (max-width: 444px) {
    .okno1_a { font-size: 7px;
        text-align: right;
        position: relative;
        margin-left: 10%;
    }
}
@media (max-width: 349px) {
    .okno1_a { font-size: 5px;
        text-align: right;
        margin-left: 10%;
        position: relative;
        word-wrap: break-word;
    }
}
.okno1_a:hover{
    color: rgb(255, 153, 0);
    
    text-decoration: underline
}
.okno1_a:active{
    color: yellow;
} 
.okno1_tel1{
    margin-left: 200px;
    white-space: nowrap;
    color: rgb(255, 196, 0);
    transition-property: all;
    text-decoration: none;
    
}
.okno1_tel1:hover{
    text-shadow:0 0 10px rgb(255, 196, 0),0 0 20px rgb(255, 196, 0);
    
}
@media (max-width: 1017px) {
    .okno1_tel1 { margin-left: 40px;
    }
}
@media (max-width: 728px) {
    .okno1_tel1 { display: none;
    }
}

.okno1_div4{
    width: 100%;
    height: 100%;
}
.okno1_div5{
    background-image: url(./IMG/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 95%;
    height: 683px;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


.okno1_div6{
    white-space: nowrap;
    font-size: 2em;
}
@media (max-width: 518px) {
    .okno1_div6 { font-size: 0.7em;
    }
}

.okno1_p3{
    display: flex;
    justify-content: center;
}
.okno1_span2{
    color: rgba(229, 176, 147, 1);  
}
.okno1_span3{
    color: white;
    padding-left: 2% ;
}
.okno1_p4{
    color: white;
    font-size: 1em;
    transition-property: all;
}
@media (max-width: 518px) {
    .okno1_p4 { display: none;
    }
}
.strelka{
    size: 2100px;
    display: flex;
    margin-left: 50%;
    margin-top: 20%;
    transition-property: all;
    
}
/* 2й экран */
.okno2{
    width: 100%;
    height: 1000px;
    text-align: center;
}
.okno2_h1{
    text-align: center;
    margin-top: 5%;
}
.okno2_s1{
    text-align: center;
    height: 150px;
    font-size: 2em;
}
.okno2_s2{
    text-align: center;
    height: 20%;
    width: 20%;
    font-size: 1em;
    font-style: black;
    font-weight: bold;
    line-height: 1.5em
}
.okno2_footer{
    width: 100%;
    height: 508px;
    position: relative;
    margin-top: 10%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.okno2_div1{
    width: 60%;
    height: 100%;
    display: inline-block;
    display: grid;
    grid-template-columns: repeat(10,10%);
    grid-template-rows: repeat(10,10%);
}
@media (max-width: 966px){
    .okno2_div1{
        display: none;
    }
}
.okno2_div1:hover{
    background-color: red;
}

.okno2_i1{
    z-index: 1;
    grid-column: 2/4;
    grid-row: 1/3;
    height: 400%;
   width: 300%;
}

.okno2_i2{
    z-index: 2;
    position: relative;
    height: 300%;
    width: 300%;
    display: inline-block;
    grid-row: 5/7;
    grid-column: 4/6;
}
.okno2_div2{
    display: inline-block;
    width: 40%;
    
}
@media (max-width: 966px){
    .okno2_div2{
        width: 100%;
        text-align: center;
    }
}
  
.okno2_p1{
    font-weight: bolder;
    font-size: 1.5em;
    line-height: 1.2em
}
.okno2_p2{
font-weight: bold;
line-height: 1.5em
}

.okno2_a{
    display: inline-block;
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    background-image: linear-gradient(to bottom right, #EBBE9C, #C88C61);
    position: sticky;
    top:0;
    padding: 7% 18% 7% 18%;
    border-radius: 100%;
    text-shadow:0 0 10px rgb(0, 0, 0),0 0 20px rgb(0, 0, 0),0 0 30px rgb(0, 0, 0);
    margin-top: 0
}
.okno2_a:hover{
    background-image: linear-gradient(to bottom right, #b89ceb, #8561c8);
    text-align: center;
    font-size: 2em;
    box-shadow:inset -5px -5px 5px 0 rgba(0,0,0,.5), 
             inset 5px 5px 5px 0 rgba(255,255,255,0.5);
}


  /* 3й экран */
  .okno3{
      width: 100%;
      height: 850px;
    }
    .okno3_top, .okno3_niz{
        background-color: #363348;
        color: white;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    @media (max-width: 966px){
        .okno3_top{
            font-size: 0.5em;
        }
    }
    @media (max-width: 966px){
        .okno3_niz{
            font-size: 0.5em;
        }
    }
    .okno3_top{
        margin-top: 5%;
    }
    .okno3_d1{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        background-image: url(./IMG/photo3.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 80%;
        background-attachment:fixed;
        text-align: center;
    }
    .okno3_h1{
        color: rgb(30, 255, 0);  
        text-align: center;
        animation-name: okno3_h1;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: reverse;
    }
    @keyframes okno3_h1{

        50% {color: rgb(255, 0, 0)}
    }

    .okno3_p1{
        color: white;
        font-size: 1.3em;
        background-color: rgba(0, 0, 0, 0.3);
        display: inline-block;
        text-align: center;
        font-weight: bold;
        line-height: 140%;
    }
    @media (max-width: 490px){
        .okno3_p1{
           font-size: 1.1em;
        
    }
        }
    .okno3_p2{
        font-size: 2em;
        text-align: center;
    }
     /* 4й экран */
     .okno4{
        width: 100%;
        height: 850px;
        text-align: center;
     }
     @media (max-width: 1135px){
        .okno4{
            height: 60%;}
        }
        @media (max-width: 409px){
            .okno4{
                height: 50%;}
            }
     .okno4_div1{
         width: 100%;
         height: 280px;
         display: grid;
         grid-auto-columns: repeat(15,1fr);
         grid-template-rows: repeat(10,28px);
     }
     @media (max-width: 1134px){
        .okno4_div1{
            display: none;}
        }
    
     .o1{
         grid-column-start: 1;
         grid-column-end: 4;
     }
   
     .o2{
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 2;
    }
    .o2:hover{
        transform: scale(2);
        z-index: 2;
    }
    .o3{
        grid-column-start: 7;
        grid-column-end: 10;

    }
    .o3:hover{
        transform: scale(2);
        z-index: 2;
    }
    .o4{
        grid-column-start: 10;
        grid-column-end: 13;
        grid-row-start: 2;
    }
    
    .okno2_a2{
        display: inline-block;
        color: white;
        font-size: 1.8em;
        text-decoration: none;
        background-image: linear-gradient(to bottom right, #EBBE9C, #C88C61);
        
        top:0;
        padding: 4% 13% 4% 13%;
        border-radius: 100%;
        text-shadow:0 0 10px rgb(0, 0, 0),0 0 20px rgb(0, 0, 0),0 0 30px rgb(0, 0, 0);
        margin-top: 5%
    }
    .okno2_a2:hover{
        background-image: linear-gradient(to bottom right, #b89ceb, #8561c8);
        text-align: center;
        font-size: 2em;
        box-shadow:inset -5px -5px 5px 0 rgba(0,0,0,.5), 
             inset 5px 5px 5px 0 rgba(255,255,255,0.5);
    }
    .okno4_div2{
        text-align: left;
        margin-top: 10%;
    }
    @media (max-width: 1265px){
        .okno4_div2{
            text-align: center;
        }
        }
    .okno4_div3{
        display: inline-block;
        font-size: 1.8em;
        width: 45%;
        text-align: left;
        vertical-align: top;
        padding-left: 14%;
    }
    @media (max-width: 1265px){
        .okno4_div3{
            font-size: 1.5em;
           
            padding-left: 0 ;
            text-align: center;
            
        }
        }
    .okno4_s1{
        width: 40%;
    }
    @media (max-width: 409px){
        .okno4_s1{
            font-size: 0.7em;
            width: 94%;
            padding-left: auto;
            padding-right: auto;
            
            
        }
        }
    .okno4_div4{
        display: inline-block;
        font-size: 1em;
        width: 40%;
        
        font-weight: bold;
    }
    @media (max-width: 409px){
        .okno4_div4{
            font-size: 0.7em;
            
            padding-left: auto;
            padding-right: auto;
        }
        }
    
  
    .video {
        margin-top: 3%;
        width: 95vw;
        height: 60vh;
        margin-left: auto;
        margin-right: auto;
       
         
    }
      /* 5й экран */
    .okno5{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .okno5_i1{
        max-width: 450px;
       width: 100%;
       margin-right: 13%;
    }
    
    li::first-letter{
        color: red;
    }
    @media (max-width: 1070px){
        .okno5_i1{
       
       margin-right: 0%
     }
        }
    @media (max-width: 524px){
        .okno5_i1{
       max-width: 250px;
       width: 100%;
       margin-right: 0%
     }
        }

    .okno5_i2{
        position: relative;
        top: 50px;
        max-width: 450px;
        width: 100%;
    }
    @media (max-width: 1070px){
        .okno5_i2{
       
       margin-right: 0%
     }
        }
    @media (max-width: 524px){
        .okno5_i2{
            max-width: 250px;
            width: 100%;
            top: 0px;
            margin-right: auto;
            margin-left: auto;
            position: static;
     }
        }

    .okno5_p1{
        text-align: left;
        display: inline-block;
        font-weight: bold;
        line-height: 150%;
    }
    .okno5_d1{
        text-align: left;
        display: flex;
        justify-content: center;
    }
    .okno5_li{
        margin-top: 30px;
        font-weight: bold;
        font-size: 0.9em;
    }
      /* 6й экран */
      .okno6{
        width: 85%;
        text-align: left;
        margin: 0 auto;
        display: flex;
        max-width: 1119px;
        margin-top: 2%;
        font-weight: bold;
        background-color: rgb(24, 182, 182);
        background-size: contain;
        word-wrap: break-word;
    }
      .okno6_d1{
          display: inline-block;
          vertical-align: top;
          text-align: left;
          max-width: 692px;
          width: 95%;
          padding-left: 3%;
      }
      @media (max-width: 1070px){
        .okno6_d1{
            width: 100%;
            max-width: 1070px;
     }
        }
      .okno6_d2{
        display: inline-block;
        width: 15%;
        vertical-align: center;
        margin: 0 auto;
    }
    @media (max-width: 1070px){
        .okno6_d2{
            display: none;
     }
        }
    .okno6_i1{
        width: 100%;
        padding-left: 10%;
        font-size: 1em;
        padding-top: 20%;
    }
    /* 7й экран */
    .okno7{
        max-width: 1118px;
        width: 85%;
        word-wrap: break-word;
        margin: 0 auto;
        margin-top: 2%;
    }
    .okno7_top{
        width: 100%;
        height: 50%;
        text-align: left;
        font-weight: bold;
        display: flex;
        align-items: center
    }
    .okno7_d1{
        align-items: center;
        display: inline-block;
        height: 100%;
        width: 30%;
        margin-left: 4%;
        font-weight: 10%;
        display: flex;
        align-items: flex-start;
        
    }
    .okno7_s1{
        display: inline-block;
    }
    @media (max-width: 605px){
        .okno7_d1{
           display: none;
     }
     .oval{
         text-align: top;
     }
        }
    @media (max-width: 605px){
        .okno7_h1{
            font-size: 1em;
            padding-left: 10%;
     }
        }
    .okno7_right{
        display: inline-block;
        width: 64%;
        margin-left: 4%;
    }
    .okno7_p1{
        font-size: 0.9em;
    }
    
    .flower1{
        width: 140%;
        height: 90%;
        min-width: 472px;
        grid-column-start: 1;
        grid-row-start: 2;
        padding-top: 15%;
        padding-left: 13%;
        display: inline-block;
    }
   

    .okno7_h2{
        text-align: left;
        display: inline-block;
        padding-top: 20%;
        margin: 0;
        grid-row-start: 1;
        grid-column-start: 2;
    }
    @media (max-width: 985px){
        .okno7_h2{
            display: none;
        }
        }
        @media (min-width: 985px){
            .okno7_h2{
                display: inline-block;
            }
            }
    .okno7_p2{
        grid-row-start: 1;
        grid-column-start: 2;
        font-weight: bold;
        text-align: left;
        margin: 0;
        display: inline-block;
        padding-top: 60%;
    }
    @media (max-width: 985px){
        .okno7_p2{
            display: none;
        }
        }

    .okno7_d2{
        display: inline-block;
        width: 50%;
        padding: 0%;
        
    }
    .okno7_niz{
        width: 100%;
        height: 50%;
        display: grid;
       
    }
    .flower{
        position: absolute;
        grid-column-start: 1;
        grid-row-start: 1;
        z-index: 1;
    }
    @media (max-width: 620px){
        .flower1{
            display: none;
        }
        }
        @media (max-width: 620px){
            .flower{
                opacity: 0.4;
            }
            }

        /* 8й экран */
        .okno8{
            margin-top: 4%;
            margin-right:auto;
            margin-left: auto;
            width: 95%;
            height: 35%;
            max-width: 1119px;
            text-align: left;
            font-weight: bold;
        }
        .okno8_p1{
            font-size: 2em;
            color: white;
        }
        @media (max-width: 420px){
            .okno8_p1{
                font-size: 1em;
            }
            }
        .okno8_div1{
            
            display: grid;
            grid-template-columns: 15% 15% 15% 15% 15%;
            grid-gap: 5%;
            margin-top: 5%;
            
        }
        .okno8_div2{
            
            display: inline-block;
        }
        .okno8_div3{
            background-image: url(./IMG/01.png);
            background-repeat: no-repeat;
            background-size:30%;
            background-position-x: center;
            height: 70%;
        }
        #nomer2{
            background-image: url(./IMG/02.png);
            background-repeat: no-repeat;
            background-size:30%;
            background-position-x: center;
            height: 70%;
        }
        #nomer3{
            background-image: url(./IMG/03.png);
            background-repeat: no-repeat;
            background-size:30%;
            background-position-x: center;
            height: 70%;
        }
        #nomer4{
            background-image: url(./IMG/04.png);
            background-repeat: no-repeat;
            background-size:30%;
            background-position-x: center;
            height: 70%;
        }
        #nomer5{
            background-image: url(./IMG/05.png);
            background-repeat: no-repeat;
            background-size:30%;
            background-position-x: center;
            height: 70%;
        }
        .okno8_s1{
            color: rgba(60, 255, 0, 0.623) ;
        }
        @media (max-width: 698px){
            .okno8_s1{
                font-size: 0.5em;
            }
            }
            #li::first-letter{
                color: rgb(0, 255, 157);
                font-size: 1.3em;
            }
            @media (max-width: 420px){
                .okno8_div1{
                    display: none;
                }
                }
            @media (min-width: 420px){
                .spis{
                    display: none;
                }
                }
/* 9й экран */
.okno9{
    background-color: #363348;
    background-repeat: repeat;
    background-size: 100%;
    
    font-weight: bold;
    color: white;
    text-align: left;
}
.okno9_h1 {
    display: inline-block;
    
    margin-right:auto;
    max-width: 1119px;
    margin-top: 5%;
    margin-left: 18%;
}
.okno9_p1 {
    margin-left: 18%;
    margin-right:auto;
    max-width: 1119px;
}
.okno9_d1{
    display: grid;
    
    grid-gap: 2%;
    grid-template-columns: 20% 20% ;
    grid-template-rows: 50% 50%;
    margin-left: 18%;
}

.okno9_s1{
    color: #C88C61;
}
.okno9_d2{
    width: 100%;
    
    display: flex;
    align-items: center;
}
.input{
    margin-left: 2%;
    border: none;
    height: 60%;
    width: 100%;
    border-radius: 5%;
    outline:none;
}
@media (max-width: 980px){
    .input{
        display: none;
        
    }
    }
    @media (max-width: 980px){
        .group{
           display: none;
            
        }
        }
.okno2_a3{
    position: relative;
        color: white;
        padding: 7% 10% 7% 10%;
        min-width: 115px;
        max-height: 39px;
        height: auto;
        text-decoration: none;
        background-image: linear-gradient(to bottom right, #EBBE9C, #C88C61);
        margin-left: 40%;
        z-index: 2;
        bottom: 126%;
        left: 180%;
        width: 40%;
        text-shadow:0 0 10px rgb(0, 0, 0),0 0 20px rgb(0, 0, 0),0 0 30px rgb(0, 0, 0);
        margin-top: 5%
}
@media (max-width: 980px){
    .okno2_a3{
       position: relative;
       left: -40%;
        
    }
    }


.okno9_p2{
    text-align: left;
    padding-left: 41%;
    padding-bottom: 3%;
}
@media (max-width: 980px){
    .okno9_p2{
        font-size: 0.7em;
        padding-left: 18%;
        
    }
    @media (max-width: 357px){
        .okno9_p2{
            font-size: 0.5em;
            padding-left: 18%;
        }
        }
.pm{
    width: 20%;
}
iframe{
    border: dashed 2px rgb(0, 0, 0);
    width: 30vw;
    max-width: 20vw;
}
@media (max-width: 1558px){
    iframe{
        display: none;
    }
    }
    .okno1_a:hover {
        cursor: default;
        }